
body{ /* body selecciona el cuerpo general y lo pinta */
	background-color: black; /* https://www.w3schools.com/colors/colors_names.asp */  
	font-family: 'Open Sans', sans-serif;
			}

h1 {
	color: white;
}

